@model IEnumerable<VeryTimekeeper.Models.Task>

@{
    ViewData["Title"] = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var allTasks = @Html.Raw(Json.Serialize(Model));

</script>

<script>
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
</script>

<div>
    @Html.ActionLink("Create new task", "Create")
</div>

<hr />
<button class="start" data-request-url="@Url.Action("UpdateTaskTime", "Tasks")">Test</button>
<button onclick="startTimer()">Click 2 start</button>
<button class="reset" data-request-url="@Url.Action("ListTasks", "Tasks")" onclick="resetTasks()">Reset tasks</button>





<div id="all-tasks">
    <ul id="sortable" class="list-unstyled ui-sortable">
        @foreach (var task in Model)
        {
            <li class="single-task ui-state-default" id="single-task@(task.TaskId)">
                <p class="task-title" id="timer@(task.TaskId)">@Html.DisplayFor(modelTask => task.Content) @task.timeRemaining</p>
            </li>

        }
    </ul>
</div>


